{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["transform-class-properties", { "spec": true }]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "targets": {
          "chrome" : "52",
          "firefox": "48"
        }
      }
    ]
  ]
}
