$yellow: rgba(255, 255, 0, 0.5);
$red: red;
$blue: #03a9f4;
$white: #fff;
$inspector-border: $blue;
$inspector-bg: rgba(70, 142, 212, 0.5);

$hover: $blue;
$active-hover: $white;

$highlight-border: $red;
$highlight-bg: $yellow;

:export {
  active: $blue;
  inspectorBg: $inspector-bg;
  inspectorBorder: $inspector-border;
  highlightBg: $highlight-bg;
  highlightBorder: $highlight-border;
}
