@import './styles/settings.scss';

.page-modeller-hover {
  border: $hover solid 2px !important;
  background-color: $inspector-bg !important;
  * {
    background-color: transparent !important;
  }
}

.page-modeller-highlight {
  border: $highlight-border solid 2px !important;
  background: $highlight-bg !important;
  background-color: $highlight-bg !important;
}
